<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" width="65%"><h1>Events</h1></th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;<h2><%= link_to 'New Event', new_event_path %></h2></th>
        </tr>
        </thead>
        <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to event.title, event %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
