

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>For Cosmos Teams and Cosmos Investors<br></h1><br><br>

        <ul>
          <li><h2>Meet the new Cosmos DeFi Projects building the next wave of decentralized finance.</h2><br></li>
          <li><h2>Connect with the teams of the fastest growing blockchain projects</h2><br></li>
          <li><h2>See launch demos of the latest interchain projects</h2><br></li>
        </ul>

      </div>
      <div class="col-lg-6" style="margin: auto;">
        <div style="text-align: center;margin: auto;">
          <%= image_tag 'logo.jpg', width: "40%"%><br><br><br>
          <%= button_to 'Join the UniFI DAO', new_user_registration_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <% User.find(User.team.joins(:logo_attachment).where.not(name: nil).pluck(:id).sample(6)).each do |user|%>
        <div class="col-2">
            <h3 class="disable"><%= link_to user&.team&.name || user.name, user_path(user) %></h3>

            <% if user.logo.attached? %>
              <%= image_tag user.logo, width: "100%" %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
<br><br><br>

<%# if user_signed_in? %>
<!--  <p>Hello, <%#= current_user.email %></p>-->
  <%#= link_to "Profile", edit_user_path(current_user) %>
  <%#= link_to "Events", events_path %>
  <%#= link_to "Sign out", destroy_user_session_path, method: :delete %>
<%# else %>
<!--  <%#= link_to "Sign Up", new_user_registration_path %>&nbsp<%#= link_to "Sign In", new_email_link_path %>-->
<%# end %>
