<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <hr>
      <h1><%= @event.title %></h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <% if @event.logo.attached? %>
        <%= image_tag @user.logo %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <h3><%= @event.description %></h3>
    </div>
  </div>
</div>
